body {
    font-family: Arial, sans-serif;
  }
  .v-data-table {
    border: 1px solid red;
  }
  .account-container {
    display: flex;
    justify-content: left;
    padding-left: 7px; /* Increase left margin */
  }
  
  .account-card {
    width: 400px; /* Set a reasonable width */
  }
  
  .input-field {
    max-width: 350px; /* Restrict input width */
  }